# NetBeans spezifische Dateien
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Projekt-spezifischer Ausschluss
/Artikel/

# Backup und temporäre Dateien
*.swp
*~
.hidden
